.card {
    background-color: #51b045;
    color: #d6eed3;
    border: 20px solid #22491d;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px #ffffff;
    box-sizing: border-box;
}

.list-group a {
    margin-top: 1rem;
    color: #d6eed3;
}

.list-group a:not(:last-of-type) li {
    border-bottom: none !important;
}

.list-group a:hover {
    text-decoration: none;
    background-color: rgba(214, 238, 211, 0.5);
}

.list-group-item {
    background-color: transparent;
    font-weight: bold;
    border: none;
}

.list-group-item:hover {
    cursor: pointer;
}

.inner-border {
    border: 20px solid #101010d1;
    box-shadow: inset 0 0 0 10px #ffffff;
    box-sizing: border-box;
}
